.App {
  
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.top{
  background-color: rgb(26, 25, 25);
  display: flex;
  padding-bottom: 5%;
  flex-wrap: wrap;
}
.h-con{
  padding-top: 5%;
  color:rgb(122, 122, 122);
  text-align: center;
  width: 50%;
}
.h-con h1{
  width: 100%;
}
.p-con {
  color:rgb(122, 122, 122);
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  line-height: 2rem;
  padding: 5% 0% 0% 0%;
}
.p-con p{
  background-color: rgb(36, 31, 31);
  padding: 2%;
  width: 70%;
}

.img-con{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7% 0% 0% 0%;
  width: 50%;
  
}
.img-con img{
  transition: all 1s;
  width: 80%;
  border: 1.5rem solid rgb(36, 31, 31);
}
.img-con p{
  align-self:center;
  width: 40%;
  color:rgb(122, 122, 122);
}
.nxt-img{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.btns{
  margin: 1%;
  padding: 1.5%;
  font-weight: 800;
  background-color: rgb(41, 34, 34);
  color:rgb(122, 122, 122);
  width: 13%;
}
.open{
  width: 100%;
  height: 10vh;
  background-color: red;  
}
.hd-pop{
  height: 70vh;
  width: 100vw;
  position: absolute;
}
.hd-img{
  width: 80%;
  height: 50vh;
}
.bottom{
  display: flex;
  width: 100%;
  height: 30rem;
  background-color: rgb(32, 30, 30);
}
.folderButtons{
  width: 8%; 
  height: 3%; 
  position: absolute;
  display: flex;
}
.fldrs{
  background-color: rgb(39, 39, 39);
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(81% 0, 100% 86%, 100% 100%, 0 100%, 0 0);
clip-path: polygon(81% 0, 100% 86%, 100% 100%, 0 100%, 0 0);
}
.folder{
  width: 100%;
  border-top:2rem solid rgb(32, 30, 30);
  background-color: rgb(80, 80, 80);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tab1 img{
  width: 30%;
  height: 70%;
  padding: 3%;
}
.tab1 p {
  width: 50%;
  padding: 3%;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: rgb(46, 46, 46);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
